<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="./assets/img/dunas.jpg" type="image/jpg" />
	<link rel="stylesheet" href="./assets/css/stilo.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>Viaje-CE</title>
</head>

<body>
	<main>
		<header class="header">
			<h1><span><i class="ri-book-2-line"></i></span>Viaje-CE</h1>
		</header>

		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/usuarios}">Viajantes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/livros}">Destinos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/compras}">Compras</a>
			</li>
		</ul>

	</main>

	<footer>
		<img src="./assets/img/canoas.svg" alt="Praia ensolarada" />
	</footer>

	<script src="script.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>