<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="./assets/img/dunas.jpg" type="image/jpg" />
	<link rel="stylesheet" href="./assets/css/stilo.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<title> Viaje-CE | Destinos </title>
</head>

<body>
	<main>
		<header class="header">
			<h1>Destinos</h1>
		</header>

		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/viajantes}">Viajantes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/destinos}">Destinos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/compras}">Compras</a>
			</li>
		</ul>

		<section class="container">

			<div class="p-4">
				<button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mb-2 botao1"> 
					Novo Destino 
				</button>

				<table class="table table-responsive table-hover">
					<thead class="table-dark">
						<tr>
							<th scope="col">id</th>
							<th scope="col">Destino</th>
							<th scope="col">Preço</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l : ${destinos}">
							<td th:text="${d.id}"></td>
							<td th:text="${d.data_entrada}"></td>
							<td th:text="${d.data_saida}"></td>
							<td th:text="${d.valor_compra}"></td>
							<td>
								<div class="d-flex">
									<a th:href="@{'/destinos'}" data-bs-toggle="modal"
										th:data-bs-target="'#exampleModal' + ${d.id}" class="mx-1" title="Editar">
										<i class="ri-file-edit-line"></i>
									</a>
									<a th:href="@{'/destinos/' + ${d.id} + '/excluir'}" class="mx-1" title="Deletar"
										onclick="return confirm('Deseja excluir o viajante ?')">
										<i class="ri-delete-bin-2-line"></i>
									</a>
									
									<!-- Modal -->
									<div class="modal fade" th:id="'exampleModal' + ${d.id}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel"> Atualizar </h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form th:action="@{/destinos/cadastrar}" method="post" th:object="${viajante}">

														<input type="hidden" id="id" name="id" class="form-control" th:value="${d.id}" />
														<div class="form-group mb-3">
															<label for="nome" class="form-label">
																Nome Destino
															</label>
															<input type="text" id="nome" name="nome" class="form-control" th:value="${d.id}" />
														</div>
														<div class="form-group mb-3">
															<label for="email" class="form-label">
																Data Entrada
															</label>
															<input type="text" id="autor" name="autor" class="form-control" th:value="${d.data_entrada}" />
														</div>
														<div class="form-group mb-3">
															<label for="email" class="form-label">
																Data Saída
															</label>
															<input type="text" id="editora" name="editora" class="form-control" th:value="${d.data_saida}" />
														</div>
														<div class="form-group mb-3">
															<label for="senha" class="form-label">
																Valor compra 
															</label>
															<input type="number" id="preco" name="preco" class="form-control" step="0.01" th:value="${d.valor_compra}" />
														</div>
											
														<button type="submit" class="btn btn-primary">
															Enviar
														</button>
														<a href="livros" class="btn btn-danger" style="margin-left: 10px">
															Cancelar
														</a>
													</form>
												</div>

											</div>
										</div>
									</div>

								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</section>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel"> Cadastrar </h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/destinos/cadastrar}" method="post" th:object="${destino}">
				            <input type="hidden" id="id" name="id" class="form-control" value="" />
				            <div class="form-group mb-3">
				                <label for="nome" class="form-label">
				                    Nome Destino
				                </label>
				                <input type="text" id="nome" name="nome" class="form-control" value="" />
				            </div>
				            <div class="form-group mb-3">
				                <label for="email" class="form-label">
				                    Data Entrada
				                </label>
				                <input type="text" id="autor" name="autor" class="form-control" value="" />
				            </div>
				            <div class="form-group mb-3">
				                <label for="email" class="form-label">
				                    Data Saída
				                </label>
				                <input type="text" id="editora" name="editora" class="form-control" value="" />
				            </div>
				            <div class="form-group mb-3">
				                <label for="senha" class="form-label">
				                    Preço
				                </label>
				                <input type="number" id="preco" name="preco" class="form-control" step="0.01" value="" />
				            </div>
				
				            <button type="submit" class="btn btn-primary">
				                Enviar
				            </button>
				            <a href="./livro" class="btn btn-danger" style="margin-left: 10px">
				                Cancelar
				            </a>
						</form>
					</div>

				</div>
			</div>
		</div>

	</main>
	<footer>
		<img src="./assets/img/jericoacoara.jpeg" alt="Praia de Jericoacoara"/>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
</body>

</html>